/* Images générées par Pandoc
-------------------------------------------------- */
.img-fluid-center {
    display: center-block;
    max-width: 100%;
    height: auto;
}

@media (min-width: 550px) {
    .img-fluid-center {
        max-width: 80%;
    }
}
@media (min-width: 850px) {
    .img-fluid-center {
        max-width: 50%;
    }
}

blockquote {
    border: 1px solid #b3b3b3;
    border-left: 10px solid #b3b3b3;
    border-radius: 0px;
    background: #fafafa;
    font-size: 90%;
    margin: 10px;
    padding: 10px 20px;
}
